/**
Colors:
 #0F0D0E - black
 #E5E5E5 - platinum
 #354000 - olive
 #C96800 - orange
 #FFFEFC - white
**/

body {
 background: #FFFEFC;
 max-width: 800px;
 color: #0F0D0E;
 margin: 0 auto;
 padding-bottom: 3rem;
}

nav {
 margin: 1em auto;
 display: flex;
 flex-direction: row;
 width: calc(100% - 1em);
 justify-content: center;
 font-weight: 900;
}

nav > a {
  margin: 0 2vw;
}

h1 {
 text-align: center;
 font-size: 300%;
}

h2 {
 padding: .25em;
 color: #fff;
 background-color: #556a00;
 overflow: hidden;
 width: 100%;
 margin: 3rem 0 1rem;
}

p {
 padding: .25em .5em;
}

a {
 color: #354000;
}

nav > a.current {
 border: .25em solid #E5E5E5;
 padding: .25em;
}

nav > a:hover,
nav > a:focus {
 border: .25em dashed #E5E5E5;
 padding: .25em;
}

nav > a {
 padding: .5em;
}

li {
  margin: .5em;
}

img {
  width: 30%;
  margin: 0;
}

.intro {
  float: left;
  overflow: hidden;
  margin: 0;
  width: 65%;
  margin-right: 5%;
}

.contact {
  background-color: #E5E5E5;
  padding: .5rem 1rem;
  margin-top: .5rem;
  border: 1px solid #000;
  box-shadow: 0px 2px 5px 0px #444;
  display: inline-block;
  width: 100%;
  text-align: center;
}

.fill {
  height: 2.75rem;
}

.contact > a {
  color: #556a00;
}

.wrap {
  width: 100%;
}

.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal !important;
}

.jump-to-content:focus {
   clip: auto;
   clip-path: none;
   height: auto;
   margin: .5rem 0;
   width: auto;
   background-color: #fff;
   border: .25em dashed #556a00;
   padding: 1rem;
   display: inline-block;
}

.coming-soon {
  cursor: disabled;
  pointer-events: none;
  color: black;
  text-decoration: none;
  position: relative;
}

.coming-soon:after {
	content:"coming soon!";
	position: absolute;
	top: 1.5rem;
	left: 2.5rem;
	font-size: 6pt;
	padding: .25rem;
	border: 1px solid #000;
	background-color:  #C96800;
}

